.img-container-for-icon {
  position: relative;
}
.img-container-for-icon .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: calc(50% - 20px);
  left: calc(25% - 20px);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.file-input-custom {
  color: transparent;
  /* padding-bottom: 40px !important; */
  padding: 0 !important;
}
.file-input-custom::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input-custom::before {
  content: 'Pilih File';
  color: white;
  display: inline-block;
  background: #593BDB;
  border-radius: 3px;
  padding: 6px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  margin: 0px !important;
}
.file-input-custom:hover::before {
  border-color: black;
}
.file-input-custom:active {
  outline: 0;
}
.file-input-custom:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.sinopsis-text{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
}

.d-icon{
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 30px;
    font-size: 18px;
}

.card-footer, .progress {
display: none;
}
